.card {
  width: 240px;
  margin-top: 15px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
}

/* 作者信息卡片 */
.avator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  margin-left: 15px;
  width: 100%;
}

.name {
  font-size: large;
}

.introduction {
  font-size: small;
}

/* 相关文章 */
.title {
  font-size: large;
}

.divider {
  display: flex;
  height: 1px;
  background: #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

.li {
  list-style-type: none;
  width: 100%;
  padding: 8px 0px 8px 0px;
}