* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  background-color: rgb(244, 245, 245);
}
/* 主题色 */
:root {
  --theme-color: #000;
  --theme-background: #fff;
}
html.day {
  color-scheme: pink;
}
.day {
  --theme-color: #000;
  --theme-background: #fff;
}
.dark{
  --theme-color: #fff;
  --theme-background: #000;
}
.pink{
  --theme-color: #fff;
  --theme-background: pink;
}

/* 
background-color: var(--theme-background);
color: var(--theme-color); 
*/




